.flexrow{
    display: flex;
    flex-direction: row;
    padding: 4px 1px 4px 1px;
}
.flexrow-reverse{
    display: flex;
    flex-direction: row-reverse;
    width: 545px;
    border-top: 2px rgba(0, 0, 0, 0.542) solid;
    padding-top: 4px;
}
.flexcolumn{
    display: flex;
    flex-direction: column;
    padding: 4px 1px 4px 1px;
}
.flexbox{
    width: 278px;
}
.flexbox2{
    width: 545px;
}
.aligncenter{
    display: flex;
    justify-content: center;
}
.input-box{
    width: 254px; 
}
label {
    padding-bottom: 2px;
}
.rdog{
    padding-bottom:2px ;
}
.padding-box{
    padding: 4px 8px 4px 8px;
}
.border-box-color{
    border: 32px solid rgb( 67, 96,111 );
    border-radius: 8px;
}
h1{
    border-bottom: 2px rgba(0, 0, 0, 0.542) solid;
    padding-bottom: 8px;
}
.fadegreen{
    color: rgb(83,184,149);
}
.fadegreenwhite{
    background-color: rgb(83,184,149);
    color: white;
}
@media (max-width: 768px) {
    .flexrow, .flexrow-reverse {
        flex-direction: column;
        width: 99%;
    }
    h1{
        text-align: center;
    }
    .flexbox, .flexbox2 {
        width: 97%;
    }
    .phoneflexrow{
        display: flex;
        flex-direction: row;
    }
    .rdog{
        padding-bottom: 4px;
    }
    .aligncenter {
        flex-direction: column;
    }
    .input-box {
        width: 100%; 
    }
}