.flexrow{
    display: flex;
    flex-direction: row;
}
.flexcolumn{
    display: flex;
    flex-direction: column;
}
.flexbox{
    width: 272px;
}
.flexbox2{
    width: 536px;
}
.aligncenter{
    display: flex;
    justify-content: center;
}
.input-box{
    width: 254px; 
}
.input-box-extra{
    width: 522px;
} 